@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
}

h1 {
    color: #F6F6F6;
    font-family: 'krona one', 'sans-serif';
    font-size: 36px;
}

p {
    color: #F6F6F6;
    font-family: 'montserrat', 'sans-serif';
    font-size: 24px;
    margin: 40px 0px 40px 0px;
}

.corpo {
    display: block;
}

.informacoes {
    position: fixed;
    width: 615px;
    height: 482px;
    left: 357px;
    top: 278px;
}

.titulo-destaque {
    color: #22D4FD;
}

.imagem {
    left: 1030px;
    top: 235px;
    position: fixed;
    width: 467.71px;
    height: 532px;
}

a {
    text-decoration: none;
}

.btn {
    box-sizing: border-box;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 280px;
    height: 79px;
    margin: 0px 25px 0px 0px;
    background-color: #22D4FD;
    color: black;
    font-family: 'montserrat', 'sans-serif';
    font-size: 24px;
    font-weight: bold;
    border-radius: 16px;
}
