@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #000000;
    box-sizing: border-box;
    color: #F6F6F6;
    height: 100vh;
}

.pagina-inicial {
    margin: 10% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.titulo-enfase {
    color: #22D4FD;
}

.pagina-inicial__conteudo {
    width: 615px;
}

.pagina-inicial__conteudo__titulo {
    font-family: "Krona One", sans-serif;
    font-size: 36px;
}

.pagina-inicial__conteudo__paragrafo {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 400;
    margin: 40px 0;
}

.pagina-inicial__conteudo__botoes {
    display: flex;
    justify-content: space-between;
}

.pagina-inicial__conteudo__botoes__link {
    box-sizing: border-box;
    background-color: #22D4FD;
    width: 280px;
    height: 79px;
    text-align: center;
    padding: 21px 0;
    border-radius: 16px;
    text-decoration: none;
    color: #000000;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}
